<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>

    <link rel="stylesheet"
        href="https://www.ft.com/__origami/service/build/v3/bundles/css?components=o-buttons@^7.2,o-footer-services@^4.2,o-layout@^5.3.3,o-grid@^6.0.0,o-colors@^6.0.8,o-labels@^6.5,o-header@^11.1,o-typography@^7.0.2,o-table@^9.0.2&brand=master&system_code=origami" />

    <script
        src="https://www.ft.com/__origami/service/build/v3/bundles/js?components=o-table@^9.0.2,o-autoinit@^3.0.0&system_code=origami"></script>

</head>

<body class="o-colors-page-background">
    <div class="o-layout" data-o-component="o-layout">
        <div class="o-layout__header">

        <header class="o-header" data-o-component="o-header" data-o-header--no-js>
            <div class="o-header__row o-header__top">
                <div class="o-header__container">
                    <div class="o-header__top-wrapper">
                        <div class="o-header__top-column o-header__top-column--center">
                            <a class="o-header__top-logo" href="/" title="Go to In Medias Res homepage" style="background-image: url(/resources/inmediasres.svg);">
                                <span class="o-header__visually-hidden">In Medias Res</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <!-- Your header, navigation, and full-bleed alert messages here. -->
        </div>
        <div class="o-layout__main o-layout-typography">
            <!-- Your page content here. -->
    
        <div class="o-grid-container o-typography-wrapper">
            <div class="o-grid-row" data-o-grid-colspan="center 8">

                <h1>About</h1>
                <span class="o-labels-indicator o-labels-indicator--live">
                    <span class="o-labels-indicator__status">
                        live
                    </span>
                </span>


                <p>{{page.about.text}}</p>

                <a href="mailto:{{page.email}}"><button class="o-buttons o-buttons--primary o-buttons--big" >Contact</button></a>
                <a href="{{page.substack_url}}"><button class="o-buttons o-buttons--secondary o-buttons--big" >Newsletter</button></a>

            </div>
        </div>
    </div>

        <footer class="o-layout__footer">
            <footer class="o-footer-services">
                <div class="o-footer-services__container">
                  <div class="o-footer-services__wrapper o-footer-services__wrapper--top">
                    <a class="o-footer-services__icon-link o-footer-services__icon-link--github" href="http://github.com/kjgarza/inmedias-res">View project on GitHub</a>
                    <a class="o-footer-services__icon-link o-footer-services__icon-link--slack" href="https://slack.com/messages/[id]/">#slack-channel</a>
                  </div>
                </div>
                <div class="o-footer-services__container">
                  <div class="o-footer-services__wrapper o-footer-services__wrapper--legal">
                    <div class="o-footer-services__links">
                      <a href="{{page.substack_url}}">Newsletter</a>
                      <a href="{{page.twitter_url}}">Twitter</a>
                      <a href="{{page.medium_url}}">Medium</a>
                    </div>
                    <p>
                      <span>&#xA9; IN MEDIAS RES 2023.</span> 
                    </p>
                  </div>
                </div>
              </footer>
                </footer>

    </div>

</body>

</html>